.row(ng-show='signedIn()')
  .col-md-2
    %br
    %br
    %button.btn.btn-sm.btn-success(ng-click="startRound()" ng-show="owener() && !started && currectNumberMembers()") {{'start_game' | translate}}
    %br
    %br
    %button.btn.btn-sm.btn-danger(ng-click="removeUser()" ng-show="isMember()") {{'leave_game' | translate}}
    %h2 {{'members' | translate}}
    %div(ng-repeat='user in room.users')
      %li
        {{user.username}}
      %br
  .col-md-10.container-timer
    %h2.text-center
      %span(ng-show='started') {{'process_game' | translate}}
      %span(ng-show='finished') {{'finish_game' | translate}}
      %br
      %br
      %br
      %div(ng-show='started') {{timer_sec}}
