%nav.navbar.navbar-default
  .container-fluid
    .collapse.navbar-collapse(ng-controller = "NavCtrl")
      %ul.nav.navbar-nav.navbar-right
        %li(ng-hide ="signedIn()" ui-sref-active='active')
          %a(ui-sref="login") {{'login' | translate}}
        %li(ng-hide ="signedIn()" ui-sref-active='active')
          %a(ui-sref="register") {{'register' | translate}}
        %li(ng-show ="signedIn()")
          %a(ui-sref="index") {{user.username}}
        %li(ng-show ="signedIn()")
          %a(ng-click= "logout()") {{'logout' | translate}}
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown"}
            {{'language.current' | translate}}
            %span.caret
          %ul.dropdown-menu
            %li
              %a(ng-click="changeLanguage('ru')") {{'language.russian' | translate}}
            %li
              %a(ng-click="changeLanguage('en')") {{'language.english' | translate}}
