.row(ng-show='signedIn()')
  .col-md-2
    %h3 {{'users' | translate}}
    %br
    %br
    %div(ng-repeat='user in users')
      %li
        {{user.username}}
        %span.label.label-success(ng-show='user.online') {{'online' | translate}}
      %br
    %br
    %br
    %button.btn.btn-success(ng-click="createNewRoom()") {{'create_room' | translate}}
    %br
    %br
    %h4(ng-show='blockAction')
      %span {{'wait' | translate}}
      %br
      %br
      {{timerWait}}

  .col-md-5
    %h3 {{'list_rooms_2' | translate}}
    %br
    %br
    %ul.list-group(ng-repeat="room in rooms | filter: { number_members: 2 }" ng-include="'games/_room.html'")

  .col-md-5
    %h3 {{'list_rooms_4' | translate}}
    %br
    %br
    %ul.list-group(ng-repeat="room in rooms | filter: { number_members: 4 }" ng-include="'games/_room.html'")
