.modal-header
  %h4.modal-title {{'add_new_room_title' | translate}}

%h5.modal-body
  %div(flash)
  .form-group
    %label *{{'enter_name' | translate}}
    %input(type='text' class='form-control' ng-model='formRoom.name')
  *{{'select_number_members' | translate}}
  .radio
    %label
      %input(type='radio' ng-model='formRoom.number_members' value = 2) 2
  .radio
    %label
      %input(type='radio' ng-model='formRoom.number_members' value = 4) 4
.modal-footer
  %button(type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()") {{'cancel' | translate}}
  %button(type="button" class="btn btn-default" ng-click="submitRoom()") {{'submit' | translate}}



