%li.list-group-item
  .pull-right
    %span.label.label-success(ng-show='room.goes') {{'game_goes' | translate}}
    %button.btn.btn-default.btn-xs(popover-template="'games/_room_popover.html'" popover-title="{{'set_members' | translate}}"
      popover-trigger="click" title="{{'count_members' | translate}}" type="button") {{room.users.length}}

    %a(class="btn btn-primary btn-xs" ui-sref='rooms({roomId: room.id})' ng-show='isMember(room) && !blockAction') {{'go_move' | translate}}
    %button(class="btn btn-default btn-xs" ng-click='addUser(room.id)' ng-show='activeGame(room)') {{'go_join' | translate}}
  {{room.name}}
