.form-auth
  .page-header.text-center
    %h2 {{'auth' | translate}}
  %div(auth)
  %form.form-horizontal(ng-submit='login()')
    .form-group
      %label.col-sm-2.control-label(for="input-email") Email
      .col-sm-10
        %input#input-email(type='email' class='form-control' placeholder='Email' ng-model='user.email')
    .form-group
      %label.col-sm-2.control-label(for="input-password") {{'password' | translate}}
      .col-sm-10
        %input#input-password(type='password' class='form-control' placeholder="{{'password' | translate}}" ng-model='user.password')
    .form-group
      .col-sm-offset-2.col-sm-10
        %button#auth.btn.btn-default(type='submit') {{'login' | translate}}


