!!! 5
%html
  %head
    %title
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body(ng-app='ngGame')
    .container
      .row
        .col-md-12
          %div(ng-include="'nav/_nav.html'")
    .container
      %ui-view



  :javascript
    I18n.defaultLocale = "#{I18n.default_locale}";
    I18n.locale = "#{I18n.locale}";






